<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MPHMODULEWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AggiungiProfessore</display-name>
    <servlet-name>AggiungiProfessore</servlet-name>
    <servlet-class>servlet.AggiungiProfessore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiungiProfessore</servlet-name>
    <url-pattern>/AggiungiProfessore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreaGruppoRegistrazione</display-name>
    <servlet-name>CreaGruppoRegistrazione</servlet-name>
    <servlet-class>servlet.CreaGruppoRegistrazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreaGruppoRegistrazione</servlet-name>
    <url-pattern>/CreaGruppoRegistrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreaGruppoStudente</display-name>
    <servlet-name>CreaGruppoStudente</servlet-name>
    <servlet-class>servlet.CreaGruppoStudente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreaGruppoStudente</servlet-name>
    <url-pattern>/CreaGruppoStudente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreaProgetto</display-name>
    <servlet-name>CreaProgetto</servlet-name>
    <servlet-class>servlet.CreaProgetto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreaProgetto</servlet-name>
    <url-pattern>/CreaProgetto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreaRelease</display-name>
    <servlet-name>CreaRelease</servlet-name>
    <servlet-class>servlet.CreaRelease</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreaRelease</servlet-name>
    <url-pattern>/CreaRelease</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminaProfessore</display-name>
    <servlet-name>EliminaProfessore</servlet-name>
    <servlet-class>servlet.EliminaProfessore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminaProfessore</servlet-name>
    <url-pattern>/EliminaProfessore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminaRelease</display-name>
    <servlet-name>EliminaRelease</servlet-name>
    <servlet-class>servlet.EliminaRelease</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminaRelease</servlet-name>
    <url-pattern>/EliminaRelease</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetByGruppo</display-name>
    <servlet-name>GetByGruppo</servlet-name>
    <servlet-class>servlet.GetByGruppo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetByGruppo</servlet-name>
    <url-pattern>/GetByGruppo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetByTipo</display-name>
    <servlet-name>GetByTipo</servlet-name>
    <servlet-class>servlet.GetByTipo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetByTipo</servlet-name>
    <url-pattern>/GetByTipo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaDatiProfessore</display-name>
    <servlet-name>ModificaDatiProfessore</servlet-name>
    <servlet-class>servlet.ModificaDatiProfessore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaDatiProfessore</servlet-name>
    <url-pattern>/ModificaDatiProfessore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaDatiStudente</display-name>
    <servlet-name>ModificaDatiStudente</servlet-name>
    <servlet-class>servlet.ModificaDatiStudente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaDatiStudente</servlet-name>
    <url-pattern>/ModificaDatiStudente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistraStudente</display-name>
    <servlet-name>RegistraStudente</servlet-name>
    <servlet-class>servlet.RegistraStudente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistraStudente</servlet-name>
    <url-pattern>/RegistraStudente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelezionaGruppoRegistrazione</display-name>
    <servlet-name>SelezionaGruppoRegistrazione</servlet-name>
    <servlet-class>servlet.SelezionaGruppoRegistrazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelezionaGruppoRegistrazione</servlet-name>
    <url-pattern>/SelezionaGruppoRegistrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelezionaGruppoStudente</display-name>
    <servlet-name>SelezionaGruppoStudente</servlet-name>
    <servlet-class>servlet.SelezionaGruppoStudente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelezionaGruppoStudente</servlet-name>
    <url-pattern>/SelezionaGruppoStudente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelezionaProgettoRegistrazione</display-name>
    <servlet-name>SelezionaProgettoRegistrazione</servlet-name>
    <servlet-class>servlet.SelezionaProgettoRegistrazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelezionaProgettoRegistrazione</servlet-name>
    <url-pattern>/SelezionaProgettoRegistrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelezionaProgettoStudente</display-name>
    <servlet-name>SelezionaProgettoStudente</servlet-name>
    <servlet-class>servlet.SelezionaProgettoStudente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelezionaProgettoStudente</servlet-name>
    <url-pattern>/SelezionaProgettoStudente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadRelease</display-name>
    <servlet-name>UploadRelease</servlet-name>
    <servlet-class>servlet.UploadRelease</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadRelease</servlet-name>
    <url-pattern>/UploadRelease</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualizzaGruppo</display-name>
    <servlet-name>VisualizzaGruppo</servlet-name>
    <servlet-class>servlet.VisualizzaGruppo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualizzaGruppo</servlet-name>
    <url-pattern>/VisualizzaGruppo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualizzaProgettoProfessore</display-name>
    <servlet-name>VisualizzaProgettoProfessore</servlet-name>
    <servlet-class>servlet.VisualizzaProgettoProfessore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualizzaProgettoProfessore</servlet-name>
    <url-pattern>/VisualizzaProgettoProfessore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualizzaProgettoStudente</display-name>
    <servlet-name>VisualizzaProgettoStudente</servlet-name>
    <servlet-class>servlet.VisualizzaProgettoStudente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualizzaProgettoStudente</servlet-name>
    <url-pattern>/VisualizzaProgettoStudente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinalizzaRegistrazione</display-name>
    <servlet-name>FinalizzaRegistrazione</servlet-name>
    <servlet-class>servlet.FinalizzaRegistrazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalizzaRegistrazione</servlet-name>
    <url-pattern>/FinalizzaRegistrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiungiProgetto</display-name>
    <servlet-name>AggiungiProgetto</servlet-name>
    <servlet-class>servlet.AggiungiProgetto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiungiProgetto</servlet-name>
    <url-pattern>/AggiungiProgetto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualizzaReleaseCondivise</display-name>
    <servlet-name>VisualizzaReleaseCondivise</servlet-name>
    <servlet-class>servlet.VisualizzaReleaseCondivise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualizzaReleaseCondivise</servlet-name>
    <url-pattern>/VisualizzaReleaseCondivise</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Valuta</display-name>
    <servlet-name>Valuta</servlet-name>
    <servlet-class>servlet.Valuta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Valuta</servlet-name>
    <url-pattern>/Valuta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Condividi</display-name>
    <servlet-name>Condividi</servlet-name>
    <servlet-class>servlet.Condividi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Condividi</servlet-name>
    <url-pattern>/Condividi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Download</display-name>
    <servlet-name>Download</servlet-name>
    <servlet-class>servlet.Download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/Download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminaStudente</display-name>
    <servlet-name>EliminaStudente</servlet-name>
    <servlet-class>servlet.EliminaStudente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminaStudente</servlet-name>
    <url-pattern>/EliminaStudente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminaGruppo</display-name>
    <servlet-name>EliminaGruppo</servlet-name>
    <servlet-class>servlet.EliminaGruppo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminaGruppo</servlet-name>
    <url-pattern>/EliminaGruppo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControlloUpload</display-name>
    <servlet-name>ControlloUpload</servlet-name>
    <servlet-class>servlet.ControlloUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlloUpload</servlet-name>
    <url-pattern>/ControlloUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FineConsegna</display-name>
    <servlet-name>FineConsegna</servlet-name>
    <servlet-class>servlet.FineConsegna</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FineConsegna</servlet-name>
    <url-pattern>/FineConsegna</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DettaglioRelease</display-name>
    <servlet-name>DettaglioRelease</servlet-name>
    <servlet-class>servlet.DettaglioRelease</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DettaglioRelease</servlet-name>
    <url-pattern>/DettaglioRelease</url-pattern>
  </servlet-mapping>
</web-app>